@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

body {
  font-family: "Assistant", sans-serif;
}

body.with-background {
  background-image: url("../images/header.jpg");
  background-position: center;
}

// ******************
// Home-page
// ------------------
.home-page {
  // Navbar
  nav {
    position: relative;
    z-index: 10;
    .navbar-brand {
      font-family: "Kaushan Script", cursive;
      font-size: 30px;
      color: #ffffff !important;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .navbar-nav {
      .active {
        font-weight: bold;
      }
    }
  }
  // End of navbar

  // Jumbotron
  .jumbotron {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -75px;
    height: 450px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      position: absolute;
      top: 0;
    }
    .container {
      z-index: 1;
      position: relative;
    }
    form {
      input {
        width: 350px !important;
      }
    }
    .display-4 {
      font-family: "Dancing Script", cursive;
      color: white;
      font-weight: 700;
      margin-top: 50px;
      font-size: 60px;
    }
    .lead {
      color: white;
      margin-top: 10px;
      font-size: 25px;
      font-weight: 300;
    }
  }
  // End of jumbotron

  // Populer
  .populer {
    margin-top: 80px;
    h2 {
      font-family: "Lobster", serif;
    }
    .row {
      margin-top: 50px;
      .card {
        height: 380px;
        background-color: #ddd;
        color: #fff;
        padding: 30px;
        background-size: cover;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px #2e2e2e;
        &:hover {
          box-shadow: 0 10px 20px #2e2e2e;
        }
        .travel-location {
          font-weight: bold;
          text-shadow: 0px 0px 3px #000000;
          color: #e6e6e6;
        }
        .travel-name {
          margin-top: -20px !important;
          font-size: 26px;
          text-shadow: 0px 0px 5px #000000;
        }
      }
    }
    .travel-button {
      .btn-travel-details {
        background-color: #ff9e53;
        color: #fff;
        &:hover {
          background-color: #ffae6f;
          color: #fff;
        }
      }
    }
  }
  // End of populer
}
// ------------------
// * End of home-page
// ******************

// ******************
// Main
// ------------------
// Navbar
nav {
  position: relative;
  z-index: 1;
  .navbar-brand {
    font-family: "Kaushan Script", cursive;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .navbar-nav {
    .active {
      font-weight: bold;
    }
  }
}
// End of navbar

// Breadcrumb
.section-breadcrumb {
  height: 180px;
  // background-color: #d6ebff;
  background-image: url("../images/breadcrumb.jpg");
  background-position: center;
  // .breadcrumb {
  //   background-color: #d6ebff;
  // }
}
// End of breadcrumb

main {
  // margin-top: -100px;
  margin-top: 50px;
  min-height: 63vh;
  h1 {
    font-size: 28px;
    font-weight: 600;
  }
  h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1px;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1px;
  }
  .nama-desa {
    font-size: 18px;
  }
  .saran {
    font-size: 14px;
    color: #5f5f5f;
  }.struktur-lg {
    width: 100%;
    display: inline;
  }
  .struktur-sm {
    width: 100%;
    display: none;
  }
  .list-wisata {
    height: 150px;
    .card-body {
      padding: 15px 30px;
      img {
        object-fit: cover;
        width: 120px;
        height: 120px;
        margin-right: 20px;
      }
      .alamat {
        font-weight: 600;
        color: #495057;
        margin: 0 0;
      }
      .jarak {
        font-size: 14px;
        color: #495057;
        margin: 0 0;
      }
      .btn-detail {
        background-color: #ff9e53;
        color: #fff;
        margin-top: 5px;
        &:hover {
          background-color: #ffae6f;
          color: #fff;
        }
      }
    }
  }
  // Gallery
  .gallery {
    .xzoom-container {
      display: block;
      .xzoom {
        width: 100%;
        margin-bottom: 10px;
        box-shadow: none;
      }
      .xactive {
        border: 4px solid #1abc9c;
        box-shadow: none;
      }
    }
    .xzoom-thumbs {
      width: 100%;
      .xzoom-gallery {
        width: 23%;
      }
    }
  }
  // End of gallery
  .lokasi {
    .card {
      position: sticky;
      top: 20px;
    }
  }
}

// ------------------
// * End of main
// ******************

// Animation
.h-scale {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
}
// End of animation

// Login
.login {
  background: #007bff;
  // background: linear-gradient(to right, #36afff, #c2e2f8) !important;
  background: url('../images/puncak-pulisan-1.JPG');
  background-size: cover;
  background-position: center;
  height: 100vh;

  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF) !important;
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('../images/bukit-larata-1.JPG');
    background-size: cover;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: 50px;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    // padding: var(--input-padding-y) var(--input-padding-x);
    padding: 12px 15px;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  

}
// End of login

@media (max-width: 992px) {
  @import 'mobile';
}
